#chat-container .relative {
  position: relative;
}

#chat-container .chat-confirm svg {
  stroke: var(--gchat-color);
}

#chat-container .chat-confirm__form {
  margin-top: 0.4em;
  display: grid;
  grid-template-columns: 1fr 3.6em;
  /* grid-template-rows: 3.6em auto;*/
  gap: 1em;
  border: 1px solid #c1c1c1;
  border-radius: 1.1em;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#chat-container .chat-confirm__info {
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center;
}

#chat-container .chat-confirm__form input {
  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
  padding: 1em 1.6em;
  border: 1px solid #c1c1c1;
  border-radius: 0.8em;
  outline: none;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#chat-container .chat-confirm__input input::placeholder {
  color: black;
}

#chat-container .span-2-col {
  grid-column: 1/-1;
}

#chat-container .chat-confirm__btn {
  background: var(--gchat-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  padding: 0.8em;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
}

#chat-container .chat-confirm__btn:active {
  box-shadow: none;
}

#chat-container .chat-confirm__gdpr {
  place-self: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #c9c9c9;
  margin-bottom: 1em;
  cursor: pointer;
}

#chat-container .chat-confirm__error {
  font-size: 1.2em;
  color: red;
}

#chat-container .gdpr-info {
  width: 100%;
  background: #f9f9fd00;
  border-radius: 1.1em 1.1em 0px 0px;
  border: 1px solid #c1c1c1;
  padding: 1.6em;
}

#chat-container .gdpr-info header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

#chat-container .gdpr-info h2 {
  font-size: 2em;
}

#chat-container .gdpr-info p {
  line-height: 1.25;
  font-size: 1.4em;
}

#chat-container .gdpr-info a {
  color: inherit;
}

#chat-container .chat-confim__popup {
  position: absolute;
  display: none;
  bottom: 90%;
  right: 2em;
  width: 19em;
  text-align: right;
  background: var(--gchat-color);

  line-height: 1.2;
  font-weight: 500;
  pointer-events: none;
  color: white;
  padding: 0.8em;
  border-radius: 0.8em;
  font-size: 1.3em;
  opacity: 0.9;
}

#chat-container .chat-confim__icon:hover + .chat-confim__popup,
#chat-container .chat-confim__popup:hover {
  display: inline-block;
}
