#chat-container .question-carousel {
  background: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.8em 0;
}

#chat-container .question-carousel svg {
  stroke: var(--gchat-color);
}

#chat-container .question-carousel.hide {
  display: none;
}

#chat-container .q-left {
  rotate: 180deg;
}

#chat-container .q-con {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--gchat-color);
  border-radius: 1.5em;
  color: white;
  padding: 0.4em 1.9em;
}

#chat-container .g-questions {
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-snap-points-x: repeat(100%);
  overflow-x: auto;
  display: flex;
}

#chat-container .g-question__con {
  cursor: pointer;
  scroll-snap-align: start;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 25px;
  align-items: center;
  gap: 0.5em;
  background: var(--gchat-color);
  border-radius: 1.5em;
  color: white;
  padding: 0.4em 1.9em;
}

#chat-container .g-questions::-webkit-scrollbar,
#chat-container .g-question::-webkit-scrollbar {
  display: none;
  height: 0;
}

#chat-container .g-question {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0.2em;
  white-space: nowrap;
  overflow-x: auto;
}
