#chat-container .question-carousel {
  background:  linear-gradient(180deg,#F7F7FC 0%,#FFF .01%,#F7F7FC 100%);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}


#chat-container .question-carousel svg {
  stroke: var(--gchat-color);
}

#chat-container .question-carousel.hide {
  display: none;
}

#chat-container .q-left {
  rotate: 180deg;
}

#chat-container .g-questions {
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-snap-points-x: repeat(100%);
  overflow-x: auto;
  display: flex;
  gap: 10px;
  padding: 0.8em 10px;
}

@media (max-width: 500px) {
  #chat-container .g-questions {
    padding: 0.8em 0; 
  }
}

#chat-container .g-question__con {
  cursor: pointer;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.5em;
  background: var(--gchat-color);
  border-radius: 1.5em;
  color: white;
  padding: 0.8em 1.9em;
}

#chat-container .g-questions::-webkit-scrollbar {
  height: 5px;
}

#chat-container .g-questions::-webkit-scrollbar-thumb {
  background: #aaa;
}

#chat-container .g-question {
  text-align: center;
  font-size: 1.2em;
  padding: 0 0.2em;
  white-space: nowrap;
}
