#chat-container .chat-main.hide {
  display: none;
}

#chat-container .chat-main {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  transition: opacity 200ms;

  width: min(100vw, 380px);
  height: min(82vh, 1200px);
  position: relative;
}

@media (max-width: 500px) {
  #chat-container .chat-main {
    gap: 0.8em;
    height: var(--gchat-height);
    width: 100vw;
  }
}

#chat-container .chat-main__conv {
  flex-grow: 1;
  overflow-y: auto;
}

/** * HEADER * **/
#chat-container .chat-header {
  display: flex;
  flex-direction: column;
  padding: 1.2em 1.6em;
}

#chat-container .cancel__container {
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 9999999999;
  padding: 1em;
}

#chat-container .avatar__container {
  align-self: center;
  margin-bottom: 2.2em;
}

#chat-container .header__avatar {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

#chat-container .avatar__container .online {
  width: 1.4em;
  height: 1.4em;
  right: 1.2em;
}

#chat-container .chat-header h2 {
  color: black;
}
#chat-container .chat-header__name {
  font-size: 1.8em;
  line-height: 21px;
  margin-bottom: 0.25em;
  pointer-events: none;
}

#chat-container .chat-header__extra {
  color: #adadad;
  font-size: 1.4em;
  margin-top: 0.5em;
  pointer-events: none;
  line-height: 17px;
}

/** HEADER END **/

#chat-container .chat-history {
  flex-grow: 1;
  padding: 2em;
}

#chat-container .chat-item {
  display: inline-block;
  max-width: 90%;
  padding: 0em 0em;
  margin-bottom: 1em;
  position: relative;
  border-radius: 1em;
}

#chat-container .bot {
  text-align: left;
}

#chat-container .bot > .chat-item {
  color: white;
}

#chat-container .human {
  text-align: right;
  margin: 1em 0;
}

#chat-container .human > .chat-item {
  border: 1px solid #888;
  color: #353535;
  text-align: left;
  background: white;
}

#chat-container .chat-text {
  line-height: 1.25;
  font-weight: 500;
  font-size: 1.4em;
  padding: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  pointer-events: none;
}

#chat-container .chat-main__conv::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

#chat-container .dot-flashing {
  display: flex;
  gap: 1em;
}

#chat-container .dot-flashing > * {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #ffffff;
}

#chat-container .dot-flashing > :first-child {
  animation: 900ms infinite ease blink;
}

#chat-container .dot-flashing > :nth-child(2) {
  animation: 900ms infinite ease blink;
  animation-delay: 350ms;
}

#chat-container .dot-flashing > :nth-child(3) {
  animation: 900ms infinite ease blink;
  animation-delay: 750ms;
}

@keyframes blink {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #fff;
  }
}
