#chat-container .chat-icon__container {
  transition: opacity 200ms;
  border-radius: 0.5rem;
  position: relative;
  cursor: default;
}

#chat-container .chat-icon__default {
  display: none;
}

#chat-container .chat-icon-open .chat-icon__default,
#chat-container .chat-icon-close .chat-icon__close-desktop {
  width: 450px;
  display: grid;
  grid-template-columns: 60px 1fr auto;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.5rem;
  color: white;
  padding: 1.6em;
}

#chat-container .chat-icon-open .chat-icon__close-mobile,
#chat-container .chat-icon-open .chat-icon__close-desktop {
  display: none;
}

@media (min-width: 500px) {
  #chat-container .chat-icon__close-mobile {
    display: none;
  }

  #chat-container .chat-icon-close .chat-icon__close-desktop {
    width: 350px;
    display: grid;
    grid-template-columns: 45px 1fr auto;
    align-items: center;
    row-gap: 1em;
    column-gap: 1.4em;
    padding: 1.8em;
  }

  #chat-container .chat-icon-close .chat-icon__close-desktop h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 500px) {
  #chat-container .chat-icon-open .chat-icon__default {
    width: calc(100vw - 2em);
  }

  #chat-container .chat-icon-close .chat-icon__close-desktop {
    display: none;
  }

  #chat-container .chat-icon-close .chat-icon__close-mobile {
    margin-bottom: 8em;
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 1em;
    padding: 0.5em;
    align-items: center;
  }

  #chat-container .chat-icon-close .chat-icon__close-mobile.center {
    margin-bottom: 0;
  }


  #chat-container .chat-icon-close .chat-icon__close-mobile h2 {
    font-size: 12px;
    line-height: 1.25;
  }

  /* #chat-container .chat-icon-close .online { */
  /*   width: 5px; */
  /*   height: 5px; */
  /*   right: 0.3rem; */
  /* } */
}

#chat-container .chat__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* #chat-container .online { */
/*   position: absolute; */
/*   bottom: 0rem; */
/*   right: 0.5rem; */
/*   width: 8px; */
/*   height: 8px; */
/*   background: #4ba65a; */
/*   border-radius: 50%; */
/*   border: 2px solid white; */
/* } */

#chat-container .chat-icon__default > .chat-avatar__con,
#chat-container .chat-icon__close-desktop > .chat-avatar__con {
  grid-row: 1/-1;
}

#chat-container .chat-icon__default .actions,
#chat-container .chat-icon__close-desktop > .actions {
  align-self: center;
  justify-self: center;
  grid-row: 1/-1;
  grid-column: 3/4;
  padding: 0 0.5em 0 2em;
}

#chat-container .chat-icon h2 {
  font-weight: 800;
  color: white;
  align-self: center;
  font-size: 2.2em;
}

#chat-container .chat-icon p {
  color: white;
  align-self: start;
  font-size: 1.4em;
  line-height: 1.2;
}

#chat-container .chat-icon .chat-icon__close-desktop > p {
  font-size: 1.3em;
}

#chat-container .actions path {
  stroke: white;
}

#chat-container .actions .chat-actions-close {
  position: absolute;
  top: 1em;
  right: 1em;
}
