@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap");

.chat-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.chat-container {
  font-family: "Mulish", sans-serif;
  position: fixed;
  bottom: 3em;
  left: 3em;
  font-size: 62.5%;
  max-width: 317px;
  z-index: 999999999;
}

@media (max-width: 500px) {
  .chat-container {
    bottom: 1em;
    left: 1em;
  }
}

.chat-container svg {
  cursor: pointer;
}

.chat-main {
  background: white;
  display: flex;
  gap: 2.2em;
  transition: opacity 200ms;
}

@media (max-width: 500px) {
  .chat-main {
    gap: 0.8em;
  }
}

/** * HEADER * **/
.chat-header {
  display: flex;
  flex-direction: column;
  padding: 1.2em 1.6em;
}

.cancel__container {
  align-self: end;
  margin-bottom: -2em;
}

.avatar__container {
  align-self: center;
  margin-bottom: 2.2em;
}

.header__avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.avatar__container .online {
  width: 1.6em;
  height: 1.6em;
  right: 1.6em;
}

.chat-header__name {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.chat-header__extra {
  color: #ADADAD;
  font-size: 1.5em;
  margin-top: 0.5em;
}

/** HEADER END **/
.fade {
  opacity: 0;
}

.chat-main > section {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  flex-grow: 1;
}

.hide {
  display: none;
}

.chat-history {
  padding: 2em;
  height: 325px;
  overflow-y: auto;
}

.chat-item {
  display: inline-block;
  max-width: 90%;
  padding: 0em 0em;
  margin-bottom: 2em;
  position: relative;
}

.bot {
  text-align: left;
}

.bot > .chat-item {
  border-radius: 2em 2em 2em 0;
  color: white;
}

.human {
  text-align: right;
}

.human > .chat-item {
  border: 2px solid #888;
  border-radius: 2em 2em 0 2em;
  color: #353535;
  text-align: left;
  background: white;
}

.chat-text {
  line-height: 1.25;
  font-weight: 500;
  font-size: 1.4em;
  padding: 1em;
  margin-left: 0.6em;
  word-break: word-break;
}

.chat-history::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.dot-flashing {
  display: flex;
  gap: 1em;
}

.dot-flashing > * {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #ffffff;
}

.dot-flashing > :first-child {
  animation: 900ms infinite ease blink;
}

.dot-flashing > :nth-child(2) {
  animation: 900ms infinite ease blink;
  animation-delay: 350ms;
}

.dot-flashing > :nth-child(3) {
  animation: 900ms infinite ease blink;
  animation-delay: 750ms;
}

@keyframes blink {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #fff;
  }
}

.relative {
  position: relative;
}

.gradient-bg {
  background: linear-gradient(164deg, var(--gchat-accent-color) 0%, var(--gchat-color) 100%);
}
