@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&display=swap");

.gchat-no-scroll {
  height: var(--gchat-height) !important;
  overflow: hidden !important;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

.chat-container *:not(svg, svg *) {
  all: revert;
}

#chat-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#chat-container {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  position: fixed;
  z-index: 999999999;
  border-radius: 1.6em;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-align: left;
}

#chat-container h2:after,
#chat-container h2:before {
  display: none;
}

@media (min-width: 501px) {
  #chat-container {
    bottom: 3em;
  }

  #chat-container.chat-top-left,
  #chat-container.chat-left {
    left: 3em;
  }

  #chat-container.chat-top-right,
  #chat-container.chat-right {
    right: 3em;
  }
}

#chat-container.chat-close {
  box-shadow: none;
  background: none;
  border-radius: 0;
}

@media (max-width: 500px) {
  #chat-container {
    border-radius: 1.6em 1.6em 0 0;
    top: 0em;
    left: 0em;
  }

  #chat-container.chat-close {
    left: 1em;
    bottom: 1em;
    top: unset;
  }

  #chat-container.chat-left.chat-close {
    left: 1em;
    bottom: 1em;
  }

  #chat-container.chat-right.chat-close {
    left: unset;
    right: 1em;
    bottom: 1em;
  }

  #chat-container.chat-close.chat-small.chat-top-right {
    right: 1em;
    top: 3em;
    bottom: unset;
  }

  #chat-container.chat-close.chat-small.chat-top-left {
    left: 1em;
    top: 3em;
    bottom: unset;
  }

  #chat-container.chat-close.chat-small.chat-center {
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    translate: -50% -50%;
  }
}

#chat-container svg {
  cursor: pointer;
}

#chat-container .fade {
  opacity: 0;
}

#chat-container .hide {
  display: none;
}

#chat-container .relative {
  position: relative;
}

#chat-container .gradient-bg {
  background: linear-gradient(
    164deg,
    var(--gchat-accent-color) 0%,
    var(--gchat-color) 100%
  );
}
