@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&display=swap");

.chat-container *:not(svg, svg  *) {
  all: revert;
}

#chat-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#chat-container {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  position: fixed;
  bottom: 3em;
  z-index: 999999999;
  background: linear-gradient(180deg, #F7F7FC 0%, #FFF 0.01%, #F7F7FC 100%);
  border-radius: 1.6em;
  /* border-radius: 4em; */
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#chat-container.left {
  left: 3em;
}

#chat-container.right {
  right: 3em;
}

#chat-container.close {
  background: none;
  border-radius: 0;
}

@media (max-width: 500px) {
  #chat-container {
    bottom: 0em;
  }

  #chat-container.left {
    left: 0em;
  }

  #chat-container.right {
    right: 0em;
  }

  #chat-container.close {
    bottom: 1em;
  }

  #chat-container.left.close {
    left: 1em;
  }

  #chat-container.right.close {
    right: 1em;
  }
}

#chat-container svg {
  cursor: pointer;
}

#chat-container .fade {
  opacity: 0;
}

#chat-container .hide {
  display: none;
}

#chat-container .relative {
  position: relative;
}

#chat-container .gradient-bg {
  background: linear-gradient(164deg, var(--gchat-accent-color) 0%, var(--gchat-color) 100%);
}

.gchat-no-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}
